<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        .completed {
            text-decoration: line-through
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="app" class="container my-3">
            <div class="input-group mb-3">
                <span class="input-group-text">待辦事項</span>
                <input type="text" v-model="newTodo" class="form-control" placeholder="準備要做的任務" id="newTodo">
                <button class="btn btn-primary" type="button" id="addTodo" @click="addTodo">新增</button>
            </div>
            <div class="card text-center">
                <ul class="list-group list-group-flush text-left" id="todoList">
                    <li v-for="todo in filteredList" :key="todo.id" class="list-group-item">
                        <div class="d-flex">
                            <div class="form-check">
                                <div>
                                    <div v-if="tempId === todo.id" class="row">
                                        <input v-model="tempText" class="form-control col" type="text" placeholder="編輯" />
                                    </div>
                                    <div v-else>
                                        <input :id="'todo' + todo.id" type="checkbox" class="form-check-input" @change.stop="completeTodo(todo)" :checked="todo.completed">
                                        <label :for="'todo' + todo.id" v-text="todo.text" :class="{completed: todo.completed}"></label>
                                    </div>
                                </div>
                            </div>
                            <div v-if="tempId === todo.id" class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-outline-success" @click.stop="updateTodo(todo)">儲存</button>
                                <button type="button" class="btn btn-outline-danger" @click.stop="cancelEdit">取消</button>
                            </div>
                            <div v-else class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-outline-success" @click.stop="editTodo(todo)">編輯</button>
                                <button type="button" class="btn btn-outline-danger" @click.stop="removeTodo(todo.id)">刪除</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <span>有 <span id="taskCount" v-text="filteredList.length"></span> 筆任務</span>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" @click.prevent="filter = 'all'" class="btn btn-outline-primary" :class="{active: filter === 'all'}">全部</button>
                        <button type="button" @click.prevent="filter = 'uncompleted'" class="btn btn-outline-primary" :class="{active: filter === 'uncompleted'}">未完成</button>
                        <button type="button" @click.prevent="filter = 'completed'" class="btn btn-outline-primary" :class="{active: filter === 'completed'}">已完成</button>
                    </div>
                    <button type="button" class="btn btn-danger" @click="remoteAllTodo">清除所有任務</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    newTodo: '',
                    todoList: [],
                    tempId: '',
                    tempText: '',
                    filter: 'all',
                }
            },
			computed: {
				filteredList() {
                    switch (this.filter) {
                    case 'uncompleted':
                        return this.todoList.filter((item) => !item.completed);
                    case 'completed':
                        return this.todoList.filter((item) => item.completed);
                    default:
                        return this.todoList;
                    }
				},
			},
            methods: {
                addTodo() {
                    this.todoList.push({
                        id: Date.now(),
                        text: this.newTodo,
                        completed: false,
                    });
                    this.newTodo = '';
                    this.record();
                },
                completeTodo(todo) {
                    todo.completed = !todo.completed;
                    this.record();
                },
                editTodo(todo) {
                    this.tempId = todo.id;
                    this.tempText = todo.text;
                },
                updateTodo(todo) {
                    if (!this.tempText) {
                        return;
                    }
                    const index = this.todoList.findIndex((item) => item.id === this.tempId);
                    this.todoList[index].text = this.tempText;
                    this.tempId = '';
                    this.tempText = '';
                    this.record();
                },
                cancelEdit() {
                    this.tempId = '';
                    this.tempText = '';
                    console.log('cancel');
                },
                removeTodo(id) {
                    const index = this.todoList.findIndex((item) => item.id === id);
                    this.todoList.splice(index, 1);
                    this.record();
                },
                remoteAllTodo() {
                    if (confirm('確定要刪除全部？')) {
                        this.todoList = [];
                    }
                    this.record();
                },
                record() {
                    localStorage.setItem('todoList', JSON.stringify(this.todoList));
                }
            },
            mounted() {
                let data = localStorage.getItem('todoList');
                this.todoList = data === null ? [] : JSON.parse(data);
                console.log(this.todoList);
            },
        }).mount('#app');
    </script>
</body>

</html>